html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, h5, h3, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
/* 
#chart {
  padding-left: 20%;
  margin: auto; 
} */
#chart2 {
  padding-top: 20px;
}

.bar:hover{
  fill: red;
}

#header {
  background-color: #0177b5;
  height: 100px;
  display: flex;
  justify-content: center;
}

#header h1 {
  color: white;
  font-weight: 900;
  font-size: 56px;
  padding-top: 15px;
  padding-left: 100px;
}

#chart-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeIn {
  animation: fadeInLeft 2s;
}

#footer {
  display: flex;
  justify-content: space-around;
  margin: auto;
  width: 300px;
  margin-top: 100px;
}

.logo img{
  height: 64px;
  width: 64px;
}

#linkedin-logo img{
  width: 75px;
  padding-left: 5px;
}